<!DOCTYPE html>
<html class="no-js" ng-app="app">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 
        VENDORS CSS
        -->
        <link rel="stylesheet" href="/bower_components/angular/angular-csp.css">
        
        

        <!-- 
        VENDORS JS
        -->
        <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="/bundles/geekshare/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <script src="/bower_components/angular/angular.min.js"></script>
        <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
        
        
        <link rel="stylesheet" href="/bundles/geekshare/css/main.css">
        <script src="/app/now.js"></script>
    </head>
    <body>
        
        <div class="main-view" ui-view>
            
        </div>
    </body>
</html>
