<form class="auth-form" name="resetPasswordForm" ng-controller="user.authResetPasswordController" ng-submit="resetPassword()">


    <input type="email" class="theme-input-dark" ng-model="email" placeholder="your em@il"  required />

    <div ng-show="errorMessage" class="theme-error">{{errorMessage}}</div>





    <button  class="theme-button" ng-disabled="resetPasswordForm.$invalid"> Reset password </button>
    <div class="auth-links">
        <a ui-sref="auth.login">Login</a> 
        |
        <a ui-sref="auth.register">Register</a> 
    </div>

</form>



