<form class="auth-form" name="loginForm"  ng-submit="loginUser()">
    
    <input type="email" class="theme-input-dark" ng-model="login.email" placeholder="your em@il"  required />
    
    <div ng-show="errorMessage" class="theme-error">{{errorMessage}}</div>
    
    <input type="password" class="theme-input-dark" ng-model="login.password" placeholder="your password"  required ng-minlength="5"/>
    
   
    
    <button  class="theme-button" ng-disabled="loginForm.$invalid"> Sign in </button>
    <div class="auth-links">
        <a ui-sref="auth.register">Register</a> 
        |
        <a ui-sref="auth.resetPassword">Reset password</a>
    </div>

</form>

