<div class='theme-horizontal'>
    <aside class="theme-navigation">
        <a href="/" class="theme-logo">
            <img src="/bundles/geekshare/img/logo.png" alt="GeekShare" />
        </a>
        <app-menu></app-menu>
    </aside>

    <main class="theme-main">
        <nav class="theme-header-menu">
            <a ui-sref="files.list({directory: 'root'})">My files</a>
            <a ui-sref="settings" class="active">Settings</a>
        </nav>

        <section class="theme-content">
            <h2>
                Settings
                <span>{{user.email}}</span>
            </h2>
    

            <form>
                <h3>Change password:</h3>
                <p>
                    <input type="password" class="theme-input-dark" placeholder="Old password"/>
                </p>
                <p>
                    <input type="password" class="theme-input-dark" placeholder="New password"/>
                </p>
                
                <p>
                    <input type="password" class="theme-input-dark" placeholder="Repeat new password"/>
                </p>
                
                
            </form>

            
            
        </section>


    </main>


</div>