<div class='theme-horizontal'>
    <aside class="theme-navigation">
        <a href="/" class="theme-logo">
            <img src="/bundles/geekshare/img/logo.png" alt="GeekShare" />
        </a>
        <app-menu></app-menu>
    </aside>

    <main class="theme-main">
        <section class="theme-content">
            <h2>
                {{page.title}}
            </h2>
    

            <div ng-bind-html="content">
            
            </div>
            
            
        </section>


    </main>


</div>