<div class='theme-horizontal'>
    <aside class="thene-navigation">
        <a href="/" class="theme-logo">
            <img src="/bundles/geekshare/img/logo.png" alt="GeekShare" />
        </a>
        <nav class="theme-menu theme-m20">
            <a href="" class="show"></a>
            <a href="">About</a>
            <a href="" class="active">Faq</a>
            <a href="">Terms</a>
            <a href="">Contact</a>
        </nav>
    </aside>

    <main class="theme-main">
        <nav class="theme-header-menu">
            <a href="" class="active">My accout</a>
            <a href="">My files</a>
            <a href="">Recyclebin</a>
            <a href="">Settings</a>
        </nav>

        <section class="theme-content">
            <h2>
                My files
                <span>Total: 52.633gb</span>
            </h2>
    

            <div ui-view>
                
            </div>

            
            
        </section>


    </main>


</div>