<div class='theme-horizontal'>
    <aside class="theme-navigation">
        <a href="/" class="theme-logo">
            <img src="/bundles/geekshare/img/logo.png" alt="GeekShare" />
        </a>
        <app-menu></app-menu>
    </aside>

    <main class="theme-main">
        <nav class="theme-header-menu">
            <a href="" class="active">My files</a>
            <a href="">Recyclebin</a>
            <a href="">Settings</a>
        </nav>

        <section class="theme-content">
            <h2>
                My files : 
                /<a href="#" ng-click="openDirectory(item.fullPath)" ng-repeat="item in currentPath">{{item.label}}/</a>
                <span>Total: {{totalSize() | bytes}}</span>
            </h2>
    

            <div ui-view>
                
            </div>

            
            
        </section>


    </main>


</div>