.files-list {
    width:100%;
    display:table;
}
.files-list .file  {
    display: block;
    
    color : #000;
    height:60px;
    display: table-row;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.files-list .file > * {
   display: table-cell; 
}
.files-list .file .name {
    height:50px;
    vertical-align:middle;
    padding-left:60px;
    background-position: left center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.files-list .file:hover {
    background-color: #e4e4e4;
}
.files-list .file .size {
    width: 50px;
    vertical-align: middle;
}
.files-list .file .operations {
    width: 100px;
    text-align:right;
    vertical-align:middle;
}
.files-list .file .operations a { } 